.subtittle__contact {
    text-align: center;
    color: white;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 10px;
}

.card {
    flex: 0 0 calc(33.3333% - 1rem); 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); 
}

.card > img {
    width: 100%; 
    height: auto; 
    border-radius: 30px 25px 25px 25px; 
}

.card > div {
    padding: 1rem;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.container2 .card .redes a {
    margin: 0 10px;
}

.redes > a > svg {
    width: 30px;
    height: 30px;
}




